*{
    padding: 0;
    margin: 0;
}
body{
    overflow-y: hidden;
    overflow-x: hidden;
}
body{
    background-color: rgb(54, 54, 54);
}
.navbar-brand{
  font-size: 1cm;
  font-family: Arial black;
}
.navbar-nav{
    position: relative;
    left: 5cm;
}
.nav-link{
    width: 4cm;
}
.btn-danger{
    position: relative;
    right: 5cm;
    /* left: 50cm; */
    width: 4cm;
}
.form11{
    margin: 1cm;
}

#createclass{
    background-color: rgb(0, 0, 0);
    width: 15cm;
    height: 10cm;
    border-radius: 30px;
    margin: 5cm;
    position: relative;
    display: none;
    left: 13cm;
}
#create_class{
    color: white;
    position: relative;
    right: 19cm;
    display: none;
}


.men11{
    color: white;
    position: relative;
    display: flex;
    right: 9cm;
}
.m1{
    /* font-size: 0cm; */
    display: flex;
    width: 5cm;
}
.m11{
    font-size: 0.6cm;
    position: relative;
    top: 5px;
    /* left: 1cm; */
}
.m11:hover{
    color: rgb(255, 166, 0);
}
.col{
    color: rgb(255, 166, 0);
}
.form{
    width: 20cm;
    height: 16.5cm;
    background-color: rgb(43, 43, 43);
    border-radius: 30px;
    position: relative;
    left: 9cm;
    top: 1cm;
}

.f11{
    display: flex;
    padding: 0.2cm;
}
.input-group{
    width: 15cm;
    position: relative;
    top: 1cm;
    left: 1cm;
}
.ad{
    position: relative;
    left: 6cm;
    width: 5cm;
    height: 1.5cm;
    font-size: 0.5cm;
    font-family: Arial black;
    top: 1.5cm;
}